<link rel="stylesheet" href="css/seat.css">

	<div class="container">
		<div class="row" >
			<div class="col-md-9">
				
				<p id="head">Select Seats Here For {{moviename}}</p>
			</div>

			<div class="col-md-3">
				<select id="seatdrop" placeholder="Select No Of Seats.">
					<option></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>

			</div>
		</div>

				
	  <div class="row" >
		<div class="col-md-8" >
  
  <div id="dicon">
  	<span>
		  <img id="icon" src="img\bb_chair.png" alt="Available"/>  Available ||
		  <img id="icon" src="img\g_chair.png" alt="Selected"/>  Selection ||
		  <img id="icon" src="img\r_chair.png" alt="Booked"/>  Sold Out
	</span>
		
  </div>

  		
	  <div class="jumbotron" id="jumbotron">
			<table class="seats">

	<tr class="snum">  
	<td >&nbsp;</td>  <td id="r">1</td>  <td id="r">2</td>  <td id="r">3</td>  <td id="r">4</td>  <td id="r">5</td>	<td id="r">6</td>  <td id="r">7</td>  <td id="r">8</td>  <td id="r">9</td>  <td id="r">10</td> <td >&nbsp;</td>  <td >&nbsp;</td>   <td id="r">11</td>  <td id="r">12</td>  <td id="r">13</td>  <td id="r">14</td>  <td id="r">15</td>	<td id="r">16</td>  <td id="r">17</td>  <td id="r">18</td>  <td id="r">19</td>  <td id="r">20</td>
	</tr>
	
	<tr>
   	<td><div class="col">G</div></td>
		<td id="sr1"><img class="image" id="G1" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G2" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G3" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G4" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G5" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G6" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G7" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G8" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G9" src="img\bb_chair.png"></td>
		<td id="sr1"><img class="image" id="G10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>	
	<td id="sr1"><img class="image" id="G11" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G12" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G13" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G14" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G15" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G16" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G17" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G18" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G19" src="img\bb_chair.png"></td>
	<td id="sr1"><img class="image" id="G20" src="img\bb_chair.png"></td>
	</tr>
	
	<tr >
   	<td><div class="col">F</div></td>
		<td id="sr2"><img class="image" id="F1" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F2" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F3" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F4" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F5" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F6" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F7" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F8" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F9" src="img\bb_chair.png"></td>
		<td id="sr2"><img class="image" id="F10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr2"><img class="image" id="F11" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F12" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F13" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F14" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F15" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F16" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F17" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F18" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F19" src="img\bb_chair.png"></td>
	<td id="sr2"><img class="image" id="F20" src="img\bb_chair.png"></td>
	</tr>

	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
   	<td><div class="col">E</div></td>

		<td id="sr3"><img class="image" id="E1" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E2" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E3" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E4" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E5" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E6" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E7" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E8" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E9" src="img\bb_chair.png"></td>
		<td id="sr3"><img class="image" id="E10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr3"><img class="image" id="E11" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E12" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E13" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E14" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E15" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E16" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E17" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E18" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E19" src="img\bb_chair.png"></td>
	<td id="sr3"><img class="image" id="E20" src="img\bb_chair.png"></td>
	</tr>
	<tr>
   	<td><div class="col">D</div></td>
		<td id="sr4"><img class="image" id="D1" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D2" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D3" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D4" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D5" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D6" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D7" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D8" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D9" src="img\bb_chair.png"></td>
		<td id="sr4"><img class="image" id="D10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr4"><img class="image" id="D11" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D12" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D13" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D14" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D15" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D16" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D17" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D18" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D19" src="img\bb_chair.png"></td>
	<td id="sr4"><img class="image" id="D20" src="img\bb_chair.png"></td>
	</tr>
	<tr >
   	<td><div class="col">C</div></td>
		<td id="sr5"><img class="image" id="C1" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C2" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C3" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C4" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C5" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C6" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C7" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C8" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C9" src="img\bb_chair.png"></td>
		<td id="sr5"><img class="image" id="C10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr5"><img class="image" id="C11" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C12" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C13" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C14" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C15" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C16" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C17" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C18" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C19" src="img\bb_chair.png"></td>
	<td id="sr5"><img class="image" id="C20" src="img\bb_chair.png"></td>
	</tr>	
	<tr>
		<td>&nbsp;</td>
	</tr>
	
	<tr >
   	<td><div class="col">B</div></td>
		<td id="sr6"><img class="image" id="B1" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B2" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B3" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B4" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B5" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B6" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B7" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B8" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B9" src="img\bb_chair.png"></td>
		<td id="sr6"><img class="image" id="B10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr6"><img class="image" id="B11" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B12" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B13" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B14" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B15" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B16" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B17" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B18" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B19" src="img\bb_chair.png"></td>
	<td id="sr6"><img class="image" id="B20" src="img\bb_chair.png"></td>
	</tr>
	<tr>
   	<td><div class="col">A</div></td>
		<td id="sr7"><img class="image" id="A1" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A2" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A3" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A4" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A5" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A6" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A7" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A8" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A9" src="img\bb_chair.png"></td>
		<td id="sr7"><img class="image" id="A10" src="img\bb_chair.png"></td>
			<td>&nbsp;&nbsp;&nbsp;</td>						   <td>&nbsp;&nbsp;&nbsp;</td>
	<td id="sr7"><img class="image" id="A11" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A12" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A13" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A14" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A15" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A16" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A17" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A18" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A19" src="img\bb_chair.png"></td>
	<td id="sr7"><img class="image" id="A20" src="img\bb_chair.png"></td>
	</tr>
		</table>
    

    </div>
    <div class="well" style="background-color:silver;">
	  	<span>Screen Is Here</span>
	</div>
	</div>
 
    <div class="col-md-4">	

   <div id="sd">Your seats Details</div>

    <div class="jumbotron"id="detail">

<form>
		<table class="table table-solid" style="margin-top:-50px;">
			<tr>
				<td>Theater:</td>
				<td>{{thn}}</td>
			</tr>
			<tr>
				<td>City:</td>
				<td>{{thc}}</td>
			</tr>
			<tr>
				<td>Date:</td>
				<td>{{dd}}</td>
			</tr> 
			<tr>
				<td>Time:</td>
				<td>{{tm}}</td>
			</tr>
		</table>
		
	</form>
		<div id="sdet">
			
    <div>Total Seats&nbsp;&nbsp;:-
    		<span id="tot"></span>
    </div>

	<div>Selected Seats&nbsp;&nbsp;&nbsp;:-
    		<span id="select"></span>
					
	</div>

   <div>Amount&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:-
	    	<span id="amt"></span>
	</div> 
		</div>

	
    		<button ng-click="loc1()"id="buy" type="button" class="btn btn-warning">Buy Now</button>
    </div>       
    </div>
    </div>
    <br><br><br>