<link rel="stylesheet" href="css/ticket.css">

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
	
		
		<div class="col-md-6" >
			<h1>Hi  {{Cname}} Here Is Your Ticket.</h1>
		<div id="color"> 
						

			<div id="heading">
			<p style="border-bottom: 2px solid black;border-width:0.1px;font-size: 35px;margin-bottom:2px;
	font-family: calibri;text-align:center;">MeraFilm</p>	

			      <a> <img src={{poster}} style="height:200px; width:200px; position:relative;"> </a>

						
				<br>
				</div>
				
				<div>
					<div style="border:3px solid white;margin-left:30px;margin-right:30px;margin-bottom:30px;">
					<div style="background-color:black;">
						
					<h3 style="font-weight:bold;margin-top:0px;">PAYMENT SUCCESSFUL</h3>		
					</div>
						<div>
							<h4>Name:
								<p>{{Cname}}</p>
							</h4>
						
							<h4>Mobile:
							<p>{{Cnum}}</p>
							</h4>
						
							<h4>Email:
							<p>{{Cid}}</p>
							</h4>
				</div>
				


				<div>			
							<h4>Place:
							<p>{{thc}}  {{thn}}</p>
							</h4>
					
							<h4>Movie:
							<p>{{moviename}}</p>
							</h4>
					
							<h4>Show Timing:
							<p>{{tm}} {{dd}}</p>
							</h4>
				</div>
				
				<div>
					<div style="background-color:black;">

					<h3 style="font-weight:bold;">TICKET ORDER SUMMARY</h3>
				</div>
						<h4>Total Seats:
						<p>{{tl}}</p>
						</h4>
				
						<h4>Seat Number:
						<p>{{sn}}₹.{{am}}</p>
						</h4>
				</div>
				</div>
		</div>
					</div>


		<div class="col-md-3"></div>
	
	</div>	

	</div>
</div>
